body{
	margin: 0;
	padding: 0;
}
.hide{
	display:none;
}
.side_menu{
	top: 365px;
	left: 0;
	position: fixed;
	border-left: 7px solid #001c60;
}
.side_menu ul{
	list-style:none;
	padding: 0;
	float: right;
}
.side_menu ul li{
	padding-left: 5px;
}
.side_menu ul li:nth-child(1) a {
	background: url('../images/pot-btn-main-nav-myaccount-off.png') no-repeat;
	display:block;
	height:8px;
	padding-bottom: 10px;
	width:61px;
}
.side_menu ul li:nth-child(1) a:hover {
	background: url('../images/pot-btn-main-nav-myaccount-on.png') no-repeat;
}
.side_menu ul li:nth-child(1) .selected {
	background: url('../images/pot-btn-main-nav-myaccount-on.png') no-repeat;
}
.side_menu ul li:nth-child(2) a {
	background: url('../images/pot-btn-main-nav-features-off.png') no-repeat;
	display:block;
	height:8px;
	padding-bottom: 10px;
	width:61px;
}
.side_menu ul li:nth-child(2) a:hover {
	background: url('../images/pot-btn-main-nav-features-on.png') no-repeat;
}
.side_menu ul li:nth-child(2) .selected {
	background: url('../images/pot-btn-main-nav-features-on.png') no-repeat;
}
.side_menu ul li:nth-child(3) a {
	background: url('../images/pot-btn-main-nav-statement-off.png') no-repeat;
	display:block;
	height:8px;
	padding-bottom: 10px;
	width:61px;
}
.side_menu ul li:nth-child(3) a:hover {
	background: url('../images/pot-btn-main-nav-statement-on.png') no-repeat;
}
.side_menu ul li:nth-child(3) .selected {
	background: url('../images/pot-btn-main-nav-statement-on.png') no-repeat;
}
.side_menu ul li:nth-child(4) a {
	background: url('../images/pot-btn-main-nav-faq-off.png') no-repeat;
	display:block;
	height:8px;
	width:61px;
}
.side_menu ul li:nth-child(4) a:hover {
	background: url('../images/pot-btn-main-nav-faq-on.png') no-repeat;
}
.side_menu ul li:nth-child(4) .selected {
	background: url('../images/pot-btn-main-nav-faq-on.png') no-repeat;
}
.wrapper{
	width: 1020px;
	margin: 0 auto;
}
.head_ss_ns{
	background: url('../images/pot-hdr-nonsecure-main.jpg');
	height: 460px;
	width: 1020px;
}
.head_ss_ns .show_cards{
	cursor: pointer;
	float: left;
	height: 32px;
	width: 189px;
}
.head_ss{
	background: url('../images/pot-hdr-main.jpg');
	height: 460px;
	width: 1020px;
}
.customer_gold_ss{
	background: url('../images/pot-img-goldcard-name.jpg');
	height: 83px;
	width: 1020px;
}
.customer_gold_ss #card_platinum{
	margin-top: 20px;
	float: left;
	height: 36px;
	width: 59px;
	margin-left: 598px;
	cursor: pointer;
}
.customer_platinum_ss{
	background: url('../images/pot-img-platcard-name.jpg');
	height: 83px;
	width: 1020px;
}
.customer_platinum_ss #card_gold{
	margin-top: 20px;
	float: left;
	height: 36px;
	width: 59px;
	margin-left: 519px;
	cursor: pointer;
}
.customer_card_gold_info_ss{
	background: url('../images/pot-img-goldcard-info.jpg');
	height: 377px;
	width: 1020px;
}
.customer_card_gold_info_ss .dots{
	float: right;
	width: 10px;
	height: 10px;
}
.customer_card_platinum_info_ss{
	background: url('../images/pot-img-platcard-info.jpg');
	height: 377px;
	width: 1020px;
}
.customer_card_platinum_info_ss .dots{
	float: right;
	width: 10px;
	height: 10px;
}
.features_title_ss{
	background: url('../images/pot-img-features-hdr.jpg');
	height: 57px;
	width: 1020px;
}
.features_title_ss_ns{
	background: url('../images/pot-img-features-nonsecure-hdr.jpg');
	height: 57px;
	width: 1020px;
}
.features_info_ss{
	background: url('../images/pot-img-features-info.jpg');
	height: 626px;
	width: 1020px;
}
.features_info_ss .check_availability , .select_charges{
	clear: both;
	cursor:pointer;
	float:left;
	height: 25px;
	width: 134px;
}
.features_info_ss .close_x{
	height: 9px;
	position: absolute;
	width: 8px;
}
.statement_ss{
	background: url('../images/pot-img-sample-statement-hdr.jpg');
	height: 57px;
	width: 1020px;
}
.statement_sp{
	background: url('../images/pot-img-paper-statement-hdr.jpg');
	height: 57px;
	width: 1020px;
}
.statement_info_ss{
	background: url('../images/pot-img-sample-statement-info.jpg');
	height: 1052px;
	width: 1020px;
}
.statement_info_sp{
	background: url('../images/pot-img-paper-statement-info.jpg');
	height: 2326px;
	width: 1020px;
}
.statement_info_ss .dots{
	background: url('../images/pot-img-sample-statement-dot-off.png');
	clear: both;
	display: block;
	float: left;
	height: 22px;
	width: 22px;
}
.statement_info_ss .dots:hover{
	background: url('../images/pot-img-sample-statement-dot-on.png');	
}
.statement_info_sp .dots{
	background: url('../images/pot-img-sample-statement-dot-off.png');
	clear: both;
	display: block;
	float: left;
	height: 22px;
	width: 22px;
}
.statement_info_sp .dots:hover{
	background: url('../images/pot-img-sample-statement-dot-on.png');	
}
.statement_header .e_statement{
	cursor: pointer;
	float: left;
	height: 20px;
	width: 100px;
}
.statement_header .p_statement{
	cursor: pointer;
	float: left;
	height: 20px;
	width: 130px;
}
.dots_custom{
	position: absolute;
}
.map01{
	margin: 272px 309px 0px 0px;
}
.map02{
	margin:-90px 0px 0px -390px;
}
.map03{
	margin: 175px 0px 0px 389px;
}
.map04{
	margin: 134px 0px 0px 389px;
}
.map05{
	margin: 134px 0px 0px 389px;
}
.map06{
	margin: -2px 0px 0px 183px;
}
.map07{
	margin: 13px 0px 0px 213px;
}
.map08{
	margin: 18px 0px 0px 517px;
}
.map09{
	margin: 18px 0px 0px 13px;
}
.map10{
	margin: 295px 0px 0px 874px;
}
.map11{
	margin: 397px 0px 0px 244px;
}
.map12{
	margin:82px 0px 0px 244px;
}
.map13{
	margin:28px 0px 0px 244px;
}
.map14{
	margin: 4px 0px 0px 244px;
}
.map15{
	margin: 16px 0px 0px 244px;
}
.map16{
	margin: 195px 0px 0px 191px;
}
.map17{
	margin: 12px 0px 0px 191px;
}
.map18{
	margin: 11px 0px 0px 191px;
}
.map19{
	margin: 839px 0px 0px 191px;
}
.map20{
	margin: 592px 0px 0px 187px;
}
.map21{
	margin: 90px 0px 0px 187px;
}
.map22{
	margin: 102px 0px 0px 187px;
}
.map23{
	margin: 39px 0px 0px 191px;
}
.map24{
	margin: 409px 0px 0px 118px;
}
.map25{
	margin: 273px 0px 0px 583px;
}
.map26{
	margin: -101px 0px 0px 35px;
}
