.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.modal {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 1050;
  width: 953px;
  margin-left: -280px;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  height: 26px;
}

.modal-header .close {
 
  float: right;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  /*max-height: 400px;*/
  padding: 0 0 0 47px;
  /*overflow-y: auto;*/
  /*margin-bottom: 50px;*/
  background: url("../images/s&pl-bg-rptr.png") repeat-y;
  height: 776px;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
   background: url("../images/s&pl-bg-hpw-grey-rptr.png") repeat-y;
  width: 953px;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}


.tooltip-container{
  position:absolute;
  z-index: 100;
  
}

.limit{
  top: 78px;
  left: 246px;
}

.limit1{
  top:0;
  left:246px;
}

.available{
  top: 120px;
  left: 372px;
}

.available1{
  top: 40px;
  left:372px;
}

#tc img{
  margin-top: 70px;
}

.tc{
  right:5px;
}

.button-modal{
  float: right;
}

#continue{
  background: url("../images/s&pl-btn-continue-off.png");
  width:124px;
  height: 31px;
  position:relative;
  bottom: 30px;
  right: 47px;
  cursor: pointer;
}

#continue:hover{
  background: url("../images/s&pl-btn-continue-on.png");
}

#works{
  cursor:pointer;
  position: relative;
  top: 20px;
  left: 47px;
}

.works{
  background: url("../images/s&pl-bg-hpw-grey-rptr.png") repeat-y;
  width: 953px;
  cursor:pointer;
  
}

.works img{
 position: relative;
 top:15px;
 left: 50px;
}

.selects{
  position: absolute;
  top:290px;
  left: 65px;
}

.select{
  background: url("../images/s&pl-checkbox-off.png");
  width: 20px;
  height: 20px;
  margin-bottom: 30px;
  cursor:pointer;
}

.terms2{
  position: relative;
  bottom: 120px;
}

#back{
  background: url("../images/s&pl-btn-go-back-off.png");
  width:124px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 238px;
  right: 65px;
}

#back:hover{
  background: url("../images/s&pl-btn-go-back-on.png");
}

#submit{
  background: url("../images/s&pl-btn-submit-off.png");
  width:124px;
  height: 30px;
  cursor:pointer;
  position:relative;
  top: 238px;
  right: 47px;
}

#submit:hover{
  background: url("../images/s&pl-btn-submit-on.png");
}

#close{
  background: url("../images/s&pl-btn-close-off.png");
  width: 123px;
  height: 31px;
  cursor:pointer;
  position:relative;
  top:30px;
  right: 47px;
}

#close:hover{
  background: url("../images/s&pl-btn-close-on.png");
}

.x{
  position:absolute;
  right:26px;
  top:26px;
  cursor:pointer;
  z-index: 10;
}

.error img{
  margin-top:50px;
}

.modal-open, .modal,.btn:focus{
    outline:none!important;
}


